<div class="container">
	<div class="sub-container">
		{% if logo_url %} <div class="content-logo"> <img src="{{ logo_url }}" style="max-width:220px; max-height:125px;" /> </div> {% endif %}
	    {% if top %}
    		<div class="top-header">    		
    			{{top}}
    		</div>
		{% endif %}
		{% if heaber %}
    		<header class="header">
    			{{heaber}}
    		</header>
		{% endif %}
		{% if description %}
    		<div class="description">
    			{{description}}
    		</div>
		{% endif %}
		{% if footer %}
    		<div class="footer">
    			{{footer}}
    		</div>
		{% endif %}
		{% if bottom %}
    		<div class="bottom">
    			{{bottom}}
    		</div>
		{% endif %}
	</div>
</div>


